.container{
    margin: 0 auto;
    max-width: 480px;
    border-radius: 3px;
    border: solid black;

}
.cabecalho{
    margin-top: 10px;
    text-align: center;

    
}

.tabuleiro{
    width: 155px;
    height: 155px;
    font-size: 40px;
    margin: 2px 1px;
    font-weight: 300;
    text-align: center;
    box-sizing: 3px;
    background-color: aquamarine;
}

.areaPlacar{
    margin: 0 auto;
    max-width: 480px;
    border-radius: 3px;
    text-align: start;
    font-size: 20px;
    background-color: aqua;
    border: solid black;
}

.reseta{
    width: 90px;
    height: 50px;
    font-size: 10px;
    text-align: center;
}

.insereNome{
    margin: 0 auto;
    max-width: 480px;
    border-radius: 3px;
    text-align: start;
    font-size: 20px;
    border: solid white;
}

.organizaBotao{
    margin: 0 auto;
    max-width: 480px;
    border-radius: 3px;
    text-align: start;
    font-size: 20px;
    border: solid white;
}
.novaPartida{
    font-size: 20px;
    margin-right: 230px;
    background-color:greenyellow;
}
.novoJogo{
    font-size: 20px;
    background-color:greenyellow;
}
.alterarNomes{
    font-size: 15px;
    background-color: gray;

}
body{width:100%;}

